//Proměnné
$background-color: rgb(59, 6, 6);
$header-footer-text-color: rgb(255, 230, 9);
$main-background-color: rgba(252, 213, 87, 0.893);
$heading-color: rgb(59, 6, 6);


.wellness
{
    .sectionImagesSlide
    {
        // max-width: 700px;
        // margin-left: auto;
        // margin-right: auto;
        // img{width: 100%; height: auto;}
        width: 100%;
    }
}


.procedures
{
    h4{font-style: italic;}
}

.pricelist
{
    table
    {
        margin-left: auto;  
        margin-right: auto;  
        text-align: center;
        // border-right: 1px solid $heading-color;
        

        th
        {
            background-color: $background-color;
            color: $header-footer-text-color;
        }

        tr, td 
        {
            border-bottom: 1pt solid $heading-color;
        }

        tr :first-child
        {
            text-align: left;
        }

        tr :nth-child(2)
        {
            padding-left: 10px; 
            padding-right: 10px;
        }
    }  
}